* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Vollkorn", serif;
}
.container {
    max-width: 40rem;
    background-color: gainsboro;
    margin: 0 auto;
    border-radius: 0.5rem;
}

label , legend{
    display: block;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    
}

.stars {
    margin-left: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.stars div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 900;
    gap: 0.5rem;
    
}

input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
}

.useful-features label {
    font-weight: 100;

}

input[type="submit"] {
    display: block;
}

form {
    padding: 3rem;
}

h1 , #stats{
    text-align: center;
    background-color: black;
    color: azure;
    margin-bottom: 1rem;
    padding: 1rem;
    
}

select, input[type="date"], input[type="text"] {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}


input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

.useful-features {
    margin-bottom: 1rem;


}
.useful-features div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 1rem;
}
textarea {
    resize: none;
    width: 100%;
    min-height: 10rem;
    margin-bottom: 1rem;
}

input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    font-size: 1.3rem;
    
}

footer {
    margin-top: 2rem;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
}

footer p {
    color: aliceblue;

}

footer p:last-child {
    margin-top: 0.5rem;
}


label span {
    color: blueviolet;
}

.italic {
    display: block;
    font-style: italic;
    color: black;
}

fieldset {
    border: 0;
}